{% extends 'base.html' %}
{%  load static %}
{% block content %}
            <!-- banner section satrt here -->
        <section class="banner-area bg_size" style="background-image: url({% static 'assets/css/bg-image/banner-bg.jpg' %});>
            <div class="overlay"></div>
            <div class="container">
                <div class="banner-content text-center">
                    <span>Welcome to Bawarchi</span>
                    <h2>It's The Food You Love</h2>
                    <h3>best for restaurant food</h3>
                    <div class="banner-btn-group">
                        <a href="{% url 'reserve' %}" class="food-btn"><span>Order Now</span></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner section ending here -->



		<!-- About Section Start here -->
		<section class="about padding-tb">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-6 col-12">
                        <div class="about-thumb">
                            <img src="{% static 'assets/images/about/01.png' %}" alt="about-food">
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="about-content">
                            <div class="section-header">
                                <span>Welcome Bawarchi</span>
                                <h3>About Restaurant History!</h3>
                            </div>
                            <div class="section-wrapper">
                                <p>{{ about.description }}</p>
                                <a href="{% url 'contact_us' %}" class="food-btn style-2"><span>get diraction</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<!-- About Section Ending here -->

		<!-- Food Product Section Start here -->
        <section class="product bg_size p-rel padding-tb" style="background-image: url("{% static 'assets/css/bg-image/product-bg.jpg' %});">
            <div class="overlay"></div>
            <div class="container">
                <div class="section-header">
                    <img src="{% static 'assets/images/header/sc-img.png' %}" alt="sc-img" class="header-img">
                    <span>Special Today</span>
                    <h2>Restaurant With Special Foods</h2>
                </div>
                <div class="section-wrapper">
                    <div class="row">
                        {% for food in special_food %}
                        <div class="col-xl-3 col-md-6 col-12">
                            <div class="product-item">
                                <div class="product-thumb">
                                    <img src="{{ food.image.url }}" alt="food-product">
                                    <span class="price">Rs.{{ food.price }}</span>
                                </div>
                                <div class="product-content">
                                    <p>{{ food.category }}</p>
                                    <h6><a href="#">{{ food.name }}</a></h6>
                                    <div class="rating">
                                        <i class="icofont-star"></i>
                                        <i class="icofont-star"></i>
                                        <i class="icofont-star"></i>
                                        <i class="icofont-star"></i>
                                        <i class="icofont-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>
        <!-- Food Product Section Ending here -->

        <!-- Food Product Section Style 2 Start here -->
        <section class="product style-2 padding-tb" style="background-image: url("{% static 'assets/css/bg-image/product-2.jpg);">
            <div class="container">
                <div class="section-header">
                    <img src="{% static 'assets/images/header/sc-img.png' %}" alt="sc-img" class="header-img">
                    <span>Foods Item</span>
                    <h2>Our Tasty Menu Today</h2>
                </div>


                <div class="section-wrapper">
                    <ul class="tab-bar">
                    {% for category in category_list %}
                        <li class="tablinks" id="defaultOpen" onclick="openCity(event, '{{ category.id }}')">
{% if category.image %}
                            <img src="{{ category.image.url }}" alt="food-product">
{% else %}
{%  endif %}
                            <span>{{ category.name }}</span>
                        </li>
                    {% endfor %}
                    </ul>

                    {% for category in category_list %}
                    <div id="{{ category.id }}" class="tabcontent">
                        <div class="row no-gutters">
                            {% for item in item_list %}
                                {% if item.category.id == category.id %}
                            <div class="col-lg-6 col-12">
                                <div class="product-item style-2">
                                    <div class="product-thumb">
                                        <img src="{{ item.image.url }}" alt="food-product">
                                        <span class="price">Rs.{{ item.price }}</span>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <h6><a href="#">{{ item.name }}</a></h6>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                        <div class="product-desc">
                                            <p>{{ item.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <!-- Food Product Section Style 2 Ending here -->

        <!-- Booking Table Section Start Here -->
        <section class="booking-table bg_size p-rel padding-tb" style="background-image: url("{% static 'assets/css/bg-image/contact-bg.jpg');">
            <div class="overlay"></div>
            <div class="container">
                <div class="section-header">
                    <img src="{% static 'assets/images/header/sc-img.png' %}" alt="sc-img" class="header-img">
                    <span>Book a Online Table</span>
                    <h2>Reservation Choose Your Table</h2>
                </div>
                <div class="section-wrapper">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-6 col-12">
                            <div class="bg-table"></div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="contact-form">
                                <form action="/">
                                    <input type="text" name="name" placeholder="First Name*">
                                    <input type="text" name="name" placeholder="Last Name*">
                                    <input type="email" name="email" placeholder="Your Eamil*">
                                    <input type="text" name="number" placeholder="Phone Number">
                                    <input type="date" name="time" data-provide="datepicker">
                                    <input type="time" id="appt" name="appt" class="res-tab time-zone" placeholder="Time">
                                    <textarea name="message" rows="6" placeholder="Message"></textarea>
                                    <button type="submit" class="food-btn style-2"><span>Order Now</span></button>
                                </form>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Booking Table Section Ending Here -->


         <!-- Team Member Section Start here -->
        <div class="team-section style-2 padding-tb">
            <div class="container">
                <div class="section-header">
                    <img src="{% static 'assets/images/header/sc-img.png' %}" alt="sc-img" class="header-img">
                    <span>Meet Our Chef</span>
                    <h2>Meet Our Very Best Chefs</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="team-bottom">
                            <div class="team-bottom-area">
                                <div class="row justify-content-center align-items-center">
                                    {%  for staff in staffs %}
                                    <div class="col-xl-4 col-md-6 col-12">
                                        <div class="team-item style-2">
                                            <div class="team-item-inner">
                                                <div class="team-thumb">
                                                    <div class="t-thumb">
                                                        <img src="{{ staff.photo.url }}" style=" object-fit: cover;width: 400px;height: 340px;" alt="team-membar">
                                                    </div>
                                                    <div class="self-intregration">
                                                        <div class="intregration-head">
                                                            <span>Follow Me</span>
                                                        </div>
                                                        <div class="intregration-icon">
                                                            <ul>
                                                                <li><a href="{{ staff.facebook }}" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                                                <li><a href="{{ staff.instagram }}" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-content">
                                                    <a href="homechef-single.html"><h5 class="member-name">{{ staff.name }}</h5></a>
                                                    <span class="member-dagi">{{ staff.position }}</span>
                                                    <p class="member-details">{{ staff.description|truncatechars:80  }}</p>
                                                    <ul class="icon-style-list codex">
                                                        <li><i class="icofont-phone"></i><span>{{ staff.contact }}</span></li>
                                                        <li><i class="icofont-envelope"></i><span>{{ staff.email }}</span></li>
                                                        <li>
                                                            <i class="fas fa-share-alt-square"></i>
                                                            <ul class="d-flex flex-wrap justify-content-start codex">
                                                                <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                                                <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                                                                <li><a class="basketball" href="#"><i class="fas fa-basketball-ball"></i></a></li>
                                                                <li><a class="vimeo" href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                                                <li><a class="behance" href="#"><i class="fab fa-behance"></i></a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team Member Section Ending here -->



         <!-- clients area start -->
        <section class="clients-area padding-tb bg_size p-rel" style="background-image: url({% static 'assets/images/clients/clients_bg.jpg' %});">
            <div class="overlay"></div>
            <div class="container">
                <div class="section-header text-center">
                    <img src="{% static 'assets/images/header/sc-img.png' %}" alt="sc-img" class="header-img">
                    <span>Our Valuable Client</span>
                    <h2>What People Say About us</h2>
                </div>
                <div class="section-wrapper">
                    <div class="clients-container">
                        <div class="swiper-wrapper">
                            {%  for testimonial in testimonials %}
                            <div class="swiper-slide">
                                <div class="clients-item text-center">
                                    <div class="clients-thumb">
                                        <img src="{{ testimonial.image.url }}" alt="clients-image">
                                    </div>
                                    <div class="clients-text">
                                        <p>
                                            <span><i class="fas fa-quote-left"></i></span>
                                            {{ testimonial.comment }}
                                            <span><i class="fas fa-quote-right"></i></span>
                                        </p>
                                        <div class="rating">
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fas fa-star-half-alt"></i></span>
                                        </div>
                                        <h6>{{ testimonial.name }}</h6>
                                        <span>{{ testimonial.position }}</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="clients-pagination"></div>
                </div>
            </div>
        </section>
        <!-- clients area ends -->


{% endblock %}