{% extends 'base.html' %}
{%  load static %}
{% block content %}

        <!-- Page Header Section Start Here -->
        <section class="page-header style-2">
            <div class="container">
                <div class="page-title text-center">
                    <h3>Booking a Online Table</h3>
                    <ul class="breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>Reservation</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- Page Header Section Ending Here -->
       

        <!-- Booking Table Section Start Here -->
        <section class="booking-table padding-tb">
            <div class="container">
                <div class="section-header">
                    <img src="{% static 'assets/images/header/sc-img.png' %}" alt="sc-img" class="header-img">
                    <span>Book a Online Table</span>
                    <h2>Reservation Choose Your Table</h2>
                </div>
                <div class="section-wrapper">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-6 col-12">
                            <div class="bg-table"></div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="contact-form">
                                <form action="{% url 'reserve' %}" method="POST">
                                    {% csrf_token %}
                                     {{ form.first_name }}
                                {{ form.last_name }}
                                {{ form.email }}
                                    {{ form.phone }}
                                    {{ form.delivery_date }}
                                    {{ form.delivery_time }}
                                {{ form.message }}

                                    <button type="submit" class="food-btn style-2"><span>Order Now</span></button>
                                </form>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Booking Table Section Ending Here -->

       {% endblock %}